DATABASE_URL="postgresql://sms:sms@localhost:5432/sms_portal?schema=public"
API_PORT=3000
API_HOST="127.0.0.1"
FRONTEND_ORIGIN="http://localhost:4200"

JWT_SECRET="replace-with-a-long-random-secret"

MTN_MOMO_ENVIRONMENT="sandbox"
MTN_MOMO_BASE_URL="https://sandbox.momodeveloper.mtn.com"
MTN_MOMO_COLLECTION_PRIMARY_KEY=""
MTN_MOMO_COLLECTION_USER_ID=""
MTN_MOMO_COLLECTION_API_KEY=""
MTN_MOMO_CALLBACK_URL="http://localhost:3000/api/payments/mtn-momo/callback"

SMSONLINEGH_BASE_URL="https://api.smsonlinegh.com"
SMSONLINEGH_API_KEY=""
SMSONLINEGH_CLIENT_ID=""
